/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* NORMALIZADO */
* {
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

html{
    font-size: 62,5%;
}


/* Familias Tipográficas
  font-family: 'EB Garamond', serif;
  font-family: 'Montserrat', sans-serif; */


  /* HEADER */
header{
    background-color: black;
    height: 50px;
    overflow: hidden;
}

 nav{
    text-decoration: none;    
    font-family: Montserrat;
    display: inline-block;
    padding: 0.5rem 0 0 4rem;
    width: 65%;
}
 nav li{
    display: inline-block;
    width: 13%;
    margin: 0.4rem 0.3rem;
    text-align: center;
}
 nav a{
    text-decoration: none; 
    color: whitesmoke;
    display: inline-block;
}
 ul ul{
    position: absolute;
    display: none;
    background-color: black;
    margin-top: 0.3rem;
}
 ul ul li{
    display: block;
    width: 11rem;
    padding-left: 1rem;
    
 }
ul li:hover ul{
    display: block;
    width: 12.2rem;
    border-radius: 0 0 1rem 1rem;
} 
 
 #logo_header{
    height: 35px;
    float: right;
    margin-right: 50px;
    padding-top: 10px;
}

ul, 
ol {
    list-style-type: none;
}


/* TITULOS */
h1{
    font-family: EB Garamond;
    font-size: 5rem;
    color: black;
}
h2{
    font-family: EB Garamond;
    font-size: 2rem;
    color: black;
}
h3{
    font-family: EB Garamond;
    font-size: 1.5rem;
    color: black;
    text-transform:uppercase;
}
h4{
    font-family: montserrat;
    font-weight: 300;
    font-size: 1.1rem;
    color:dimgrey;
    }

h5{
    font-family: EB Garamond;
    font-size: 1.2rem;
}

/* SECCIONES GLOBAL */
section{
    /* height: 100vh; */
    display: inline-block;
    overflow: hidden;
}

section p{
    font-family: montserrat;
    font-size: 1.1rem;
}

/*-- INDEX --*/

/* SECCION PRINCIPAL */
#top_section{
    background-color: black;
}
#top_section article, aside{
    height: 37rem;
}
 
 #top_section article{
    display: inline-block;
    width: 53%;
    padding: 6rem 6rem 0;
}
 #top_section p{
    margin-top: 2rem;
    padding-right: 1.7rem;
}

 #top_section h1,h2,p{
     color: whitesmoke;
 }
 .button{
    width: 10rem;
    height: 4rem;
    background-color:blue;
    text-align: center;
    padding: 1.3rem;
    border-radius: 1rem;
    margin-top: 4rem;
}
.button a{
    text-decoration: none; 
    color: whitesmoke;
    font-family: montserrat;
    font-weight: 800;
}
 
 #top_section aside{
    display: inline-block;
    width: 44%;
    overflow: hidden;
}
 
 #top_section aside img{
    width: 125%;
}


/* BLOQUE DE FOTOS CON TEXTO */

 .mentors_say{
    width: 100%;
}
 #middle_one{
    background-color: royalblue;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 3fr;
    margin: 8rem auto;
    padding: 2rem;
    border-radius: 2rem;
}

 .article_title{
    grid-column: 1 / 4;
}

 #middle_one h3{
    text-align: center;
    color: seashell;
    margin-top: -0.3rem;
    margin-bottom: 1rem;
}

 .article_medium{
    display: inline-block;
    margin: 0.8rem;
}

 .article_medium img{
    width: 100%;
    border-radius: 1rem;
}

 .article_medium p{
    margin-top: 0.5rem;
    color: seashell;
}



/* INFO MENTORES */
 .mentors_say{
    background-image: url(../images/home_fotos_con_texto_mentores_background.png);
    background-size: contain;
 }
 .info_mentors{
    background-image: linear-gradient(45deg, #000000, #1F2E35);
    width: 100%;
 }

 .grid_mentors{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.5fr;
    margin: auto;
    width: 80rem;
 }

 .grid_titles{
    grid-column: 1 / 2;   
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 4rem;
 }

 .grid_titles h3, h4{
    color: #FFFFFF;
 }

 .grid_titles h3{
    padding-top: 1rem;
    font-size: 3.5em;
 }

 

 .grid_image{
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55rem;
 }

 .grid_image img{
    width: 464px;

 }

 .grid_article{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 4rem 4rem 0;
 }

 .grid_lists{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding-left: 4rem;
    display: flex;

 }
 
 .index_list {
    width: 16rem;
    margin: 0 2rem 0 0; 
 }

 .index_list h4{
    padding-bottom: 1rem;
 }

 .grid_lists li{
    color: #ffffff;
    font-family: Montserrat;
 }

 .grid_cta{
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    display: flex;
    justify-content: center;
 }

 .grid_cta .button{
    width: 15rem;
    height: 4rem;
    background-color:blue;
    text-align: center;
    padding: 1.3rem;
    border-radius: 1rem;
    margin-top: 0rem;
 }

 .highlight{
    color: darkorange;
    font-weight: bold;
}
.index_list li{
    list-style: square;
    overflow-x: visible;
    margin-left: 40px;
}


/* FOOTER */
footer{
    background-color: black;
}


/*-- PAGINA SUCCESS STORY --*/

.flexbox_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flexbox_container p{
    color: slategray;
}
/* INTRODUCCION */
.flexbox_item_1{
    width: 40rem;
    display: flex;
    flex-direction: column;
}
 .flexbox_item_1A{
    text-align: center;
}
 .flexbox_item_1A h1{
    line-height: 4rem;
    padding: 0 0 1.3rem;
 }

 .flexbox_item_1A h3{
    margin-top: 3rem;
    text-transform: initial;
    color: dimgray;
}
 .flexbox_item_1A img{
    width: 100%;
    margin-top: 1rem;
}

.flexbox_item_1B{
    display: flex;
    margin-top: 1rem;
}
 .autor{
    display: flex;
}
 .a_photo{
    width: 4rem;
 }
 .a_photo img{
    width: 100%;
}
 .a_info{
    display: flex;
    flex-direction: column;
    padding: 0.7rem;
}
 .a_name{
    flex: 1;
    overflow: hidden;
}
 .a_detail{
    flex: 1;
}
 
.social{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
 .social_media{
    width: 2.1rem;
    background-size: 90%;
    background-position: center;
    margin-left: 1rem;
}
 .facebook{
    background-image: url(../images/sm_facebook.png);
    background-repeat: no-repeat;
}
 .twitter{
    background-image: url(../images/sm_twitter.png);
    background-repeat: no-repeat;
}
 .linkedin{
    background-image: url(../images/sm_linkedin.png);
    background-repeat: no-repeat;
}

/* ENTREVISTA */
.flexbox_item_2{
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 100%;
}
 .question{
    padding-top: 3rem;
}
 .question h3{
    text-transform:initial;
 }

 .question p{
    line-height: 2em;
    padding-top: 1rem;
}
 .question ul{
    list-style-type:circle;
    padding-left: 2rem;
    margin: 2rem;
}
 .question li{
    margin: 1rem;
}


.flexbox_item_3{
    width: 60rem;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
}
 .flexbox_item_3 h2{
    text-align: center;
    color: dimgray;
    margin: 3rem;
    overflow: hidden;
}
 .dual_card{
    display: flex;
}
 .a_global{
    width: 30rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border-radius: 1rem;
}
 .img_container{
    width: 23.9rem;
    margin: 0 2rem;
    border-radius: 0 0 1rem 1rem;
    background-color: white;
    display: flex;
    align-items: center;
}
 .orange{
    background-color: #C43F26;
   
}
 .orange p{
    padding: 2rem;
    text-align: center;
    color: whitesmoke;
}
 .orange a{
    text-decoration: underline; 
    color: #4A180E;
    font-family: montserrat;
    font-weight: 800;
    text-align: center;
    margin: 0 0 1rem;
}


 .purple{
    background-color: #B46BC7;
}
 .purple p{
    padding: 2rem 2rem 1rem;
    text-align: center;
    color: whitesmoke;
}

 .purple a{
    text-decoration: underline; 
    color: #570080;
    font-family: montserrat;
    font-weight: 800;
    text-align: center;
    margin: 0 0 1rem;
}
 .img_container img{
    margin: auto;
 }

/* BLOG */
