h1{
    font-family: EB Garamond;
    font-size: 5em;
    color: black;
}
h2{
    font-family: EB Garamond;
    font-size: 2em;
    color: black;
}
h3{
    font-family: EB Garamond;
    font-size: 1.5em;
    color: black;
    text-transform:uppercase;
}
h4{
    font-family: montserrat;
    font-weight: 300;
    font-size: 1.1em;
    color:dimgrey;
    }

h5{
    font-family: EB Garamond;
    font-size: 1.2em;
}

ul, 
ol{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-family: montserrat;
    font-size: 1.1rem;

}

section p{
    font-family: montserrat;
    font-size: 1.1rem;
}